<section class="cards-loop{{classes}}">
    {{#if title}}
        <h2 class="cards-loop__title heading-2">{{t title}}</h2>
    {{/if}}
    
   {{#match cols "=" '3'}}
    <ul class="cards-loop__cards flex list--unstyled">
        {{#get "posts" include="tags" filter=filter limit=limit}}
            {{#foreach posts}}
                {{> post-card classes="width-third"}}
            {{/foreach}}
        {{/get}}
    </ul>
    {{else match cols "=" '2'}}
    <ul class="cards-loop__cards flex list--unstyled">
        {{#get "posts" include="tags" filter=filter limit=limit}}
            {{#foreach posts}}
                {{> post-card classes="width-half"}}
            {{/foreach}}
        {{/get}}
    </ul>
   {{/match}}
</section>