<a href="{{url}}" class="tag {{#if accent_color}}colorful{{/if}}">{{name}}</a>

{{#if accent_color}}
    <style>
        .tag.colorful {
            color: {{accent_color}};
            border-color: transparent;
            background: {{accent_color}}14;
        }
    </style>
{{/if}}