{{!< default}}

<div class="container wrapper container--breadcrumbs">
    <aside>
        <nav class="breadcrumbs" aria-label="breadcrumbs">
            <ol class="flex items-center list--unstyled">
                <li><a href="{{@site.url}}">Home</a><span>{{> icons/arrow-right-thin}}</span></li>
                <li class="breadcrumbs__current"><a href="{{@site.url}}/categories/" aria-current="location">Categories</a></li>
            </ol>
        </nav>
    </aside>
</div>

<div class="container wrapper container--categories">
    <section class="categories">
        <h1 class="categories__title page-title">{{t "Categories"}}</h1>
        {{> tags-loop categories=true}}
    </section>
</div>