{{!< default}}

<aside>
    <nav class="breadcrumbs" aria-label="breadcrumbs">
        <ol class="flex items-center">
            <li><a class="link" href="{{@site.url}}">Home</a><span>{{> icons/arrow-right-thin}}</span></li>
            <li class="breadcrumbs__current"><a href="{{@site.url}}/categories/" aria-current="location">Categories</a></li>
        </ol>
    </nav>
</aside>

<section class="categories">
    <h1 class="categories__title heading-1 mr-md-b">{{t "Categories"}}</h1>
    {{> tags-loop classes="size-l categories__cards" categories=true}}
</section>