{{!< default}}

<div class="container wrapper container--home">
    {{> home/hero}}

    {{> post-cards-loop filter="featured:true" classes="featured" title="Featured" cols="2" limit="3"}}

    {{#if @custom.enter_tag_to_display_publications_on_the_home_page}}
        {{#get "tags" filter="slug:[{{@custom.enter_tag_to_display_publications_on_the_home_page}}]"}}
            {{#foreach tags}}
                {{> post-cards-loop filter="tag:{{slug}}" classes=slug title=name cols="3" limit="3"}}
            {{/foreach}}
        {{/get}}
    {{/if}}

    {{> cta classes="home" margin-bottom=true margin-top=false}}
</div>