.footer {
    background: $color-light-gray;
    padding: 10rem 5rem 3rem;

    .container_footer {
        display: grid;
        grid-template-columns: 32.25% 1fr;
    }

    .cta_footer {
        margin-top: 3rem;
    }

    &__info {
    }
    &__brand {
        display: block;
        height: 50px;

        img {
            height: 100%;
        }
    }
    &__title {
        font-size: 4rem;
        font-weight: 500;
    }
    &__socials {
        column-gap: 2rem;
        margin-bottom: 2rem;
    }
    &__social {

        transition: all .3s;

        &:hover {
            transform: scale(1.1);
        }

        svg {
            width: 2.8rem;
            height: 2.8rem;
        }
    }
    &__nav {

        &-title {
            margin-bottom: 3rem;
        }

        &_primary {

        }
        &_secondary {
        }
    }
    &__copy {
        font-size: 1.4rem;
        font-weight: 300;
    }
}
