.header {
  background: $color-light-gray;

  &__brand {
    height: 5rem;
    width: 20%;
  }
  &__logo {
    height: 100%;
  }
  &__title {
    font-size: 3.4rem;
    font-weight: 500;
    line-height: normal;
  }
  &__menu {
  }
  &__buttons {
  }
  &__user-avatar {
  }

  .container {
    padding: 3rem 0;
  }
}

.header-search {
  &__toggle {
    transition: all 0.3s;

    &:hover {
      transform: scale(0.9);
    }
  }
}
.signin-link {
  margin-left: 2rem;
  font-size: 2rem;
}
