
.gh-header {

    &__tags {
        margin-bottom: 2rem;
    }
}

.gh-excerpt {
    margin-bottom: 3rem;
}

.authors {
    margin-top: 3rem;
}

.gh-content {
    
    .kg-callout-card {
        padding: 2rem 2.4rem;
        border-radius: 2rem;

        font-size: 1.8rem;
        font-weight: 400;

        div.kg-callout-emoji {
            padding-right: 2rem;
        }
    }

    .kg-bookmark-card {
        
        a.kg-bookmark-container {
            border-radius: 2rem;
            border: none;
            background: $color-light-gray;
            box-shadow: 0px 2px 8px 0px rgba(61, 61, 61, 0.10);
            transition: all .3s;

            &:hover {
                display: flex;
                text-decoration: none;
                border-radius: 2rem;
                border: none;
                overflow: hidden;
                color: inherit;
                transform: scale(1.01);
            }
        }

        div.kg-bookmark-content {
            padding: 2.4rem 3.4rem;
        }

        div.kg-bookmark-title {
            font-size: 2.2rem;
            font-weight: 500;
            margin-bottom: 0.7rem;
        }

        div.kg-bookmark-description {
            font-size: 1.5rem;
            font-weight: 400;
            color: $color-light-black;
        }

        div.kg-bookmark-metadata {
            font-size: 1.5rem;
            font-weight: 500;
        }
        
        div.kg-bookmark-thumbnail {
            max-width: 25.6%;
            min-width: 21rem;
        }
    }

    .kg-button-card a.kg-btn {
        font-family: $main-font-family;
        padding: 1.2rem 3.6rem;
        background: $color-light-black;
        color: $color-white;
        border-radius: 2rem;

        font-size: 2rem;
        font-weight: 300;
    }

    .kg-toggle-card {
        border-radius: 2rem;
        background: $color-light-gray;
        box-shadow: 0px 4px 8px 0px rgba(61, 61, 61, 0.10);

        padding: 2rem 2.4rem;

        .kg-toggle-heading-text {
            font-size: 2rem;
            font-weight: 500;
        }

        .kg-toggle-content p {
            font-size: 1.7rem;
            font-weight: 300;
        }
    }

    .kg-toggle-card+.kg-toggle-card {
        margin-top: 2rem;
    } 

    .kg-header-card.kg-v2 {

        .kg-header-card-button {
            font-size: 1.8rem;
            border-radius: 2rem;
            padding: 2rem 2.8rem;
            font-weight: 300;
            font-family: $main-font-family;
        }
    } 

    .kg-header-card.kg-v2.kg-width-wide .kg-header-card-button, .kg-header-card.kg-v2.kg-width-full .kg-header-card-button {
        font-size: 2rem;
        padding: 2rem 3.2rem;
    }

    .kg-width-regular, .kg-width-wide, .kg-width-full {
        .kg-signup-card-form.error .kg-signup-card-error {
            font-size: 1.6rem;
        }

        .kg-signup-card-form.success .kg-signup-card-success {
            font-size: 1.6rem;
        }

        .kg-signup-card-fields {
            width: 75%;
            font-size: 1.8rem;
        }

        .kg-signup-card-disclaimer {
            font-size: 1.6rem;
        }
    }
}
