button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: var(--color-transparent);
    cursor: pointer;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: button;

    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

.btn {
    color: var(--color-white);
    padding: min(1.2rem, 1.8vw) min(4rem, 3.6vw);
    font-weight: 300;
    background-color: var(--color-full-black);
    border-radius: var(--global-radius);
    font-size: clamp(1.6rem, 1.451rem + 0.381vw, 2rem);
    display: block;
    width: max-content;
    border: 1px solid var(--color-full-black);

    &--transparent {
        background-color: var(--color-transparent);
        color: var(--color-full-black);
    }
}
