button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: var(--color-transparent);
    cursor: pointer;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: button;

    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

.btn {
    color: var(--color-brand-contrast);
    padding: 1.2rem 3.85rem;
    font-weight: 300;
    background-color: var(--ghost-accent-color);
    border-radius: var(--global-radius);
    font-size: clamp(1.6rem, 1.451rem + 0.381vw, 2rem);
    display: block;
    width: max-content;
    border: 1px solid var(--ghost-accent-color);
    overflow: hidden;
    transition: all .2s;

    @media (max-width:768px) {
        padding: 1.4rem 3.85rem;
    }

    &--transparent {
        background-color: var(--color-transparent);
        color: var(--color-full-black);
    }

    &__text, &__loading-text {
        transition: all .3s;
    }

    &__text {
        display: inline-block;
    }

    &__loading-text {
        position: absolute;
        transform: translate(-155%, 150%);
    }

    &--cta-footer {
        font-size: 1.4rem;
        font-weight: 300;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 1.475rem 1.6rem;
        border: 1px solid transparent;
    }

    &:hover {
        color: var(--ghost-accent-color);
        background-color: var(--color-brand-contrast);
    }

    &--cta:hover {
        border-color: var(--ghost-accent-color);
    }
}


.text-link:hover {
    text-decoration: underline;
    transition: all .2s;
}