.msg-success, .msg-error {
    font-size: clamp(1.6rem, 1.457rem + 0.238vw, 1.8rem);
    font-weight: 400;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.msg-success {
    color: var(--color-success);
}

.msg-error {
    color: var(--color-error);
}

.cta__form.error .cta__messages {

    .msg-error {
        position: absolute;
        top: calc(100% + 2rem);
        width: max-content;
        left: 50%;
        transform: translateX(-50%);

        animation-name: fadeIn;
        max-height: max-content;
    }
}

.cta__form.success .cta__messages {

    .msg-success {
        position: absolute;
        top: calc(100% + 2rem);
        width: max-content;
        left: 50%;
        transform: translateX(-50%);

        animation-name: fadeIn;
        max-height: max-content;
    }
}

.cta__form.loading {

    .cta__form-button {
        position: relative;
        cursor: not-allowed;

        background-color: var(--color-grey-darker);
        border-color: var(--color-grey-darker);
        color: transparent;

        &::after {
            position: absolute;
            content: '';
            width: 3rem;
            height: 3rem;
            top: calc(50% - 1.5rem);
            right: calc(50% - 1.5rem);
            border-radius: 50%;
            background-image: url(/assets/images/loading.svg);
            background-position: center;
            background-size: cover;

            animation-name: rotation;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            transition: all .4s;
        }
    }
}
