/* ========================================= Sign-up/sign-in page without feature_image */

.login-page {
    justify-content: center;
    padding-top: clamp(2rem, -3.571rem + 14.286vw, 17rem);

    &__feature-image {
    }

    &__logo {
        max-width: 13rem;
        margin-bottom: 3rem;
    }

    &__text {

        & > * {
            text-align: center;
        }
    }
    &__logo-text {
        font-size: clamp(2.8rem, 2.577rem + 0.571vw, 3.4rem);
        font-weight: 600;
        display: inline-block;
        margin-bottom: 7rem;
    }
    &__title {
        font-size: clamp(2.6rem, 1.931rem + 1.714vw, 4.4rem);
        font-weight: 500;
        margin-bottom: clamp(1rem, 0.257rem + 1.905vw, 3rem);
    }
    &__info {
    }
}
.sign-in-form {
    width: min(40rem, 100%);
    margin-left: auto;
    margin-right: auto;

    &__input {
        border-radius: var(--global-radius);
        padding: 1.8rem 2rem;
        background-color: var(--color-light-gray);
        width: 100%;
        font-size: clamp(1.6rem, 1.451rem + 0.381vw, 2rem);
        font-weight: 300;
        text-align: center;
        margin-bottom: 2rem;
        border: 1px solid transparent;
        transition: all .2s;
    }
    &__input:active, &__input:focus, &__input:focus-visible {
        outline: 0;
        border-color: var(--color-full-black);
    }
    &__button {
        margin-bottom: 3rem;
        transition: all .3s;
    }
}

.sign-in-form.success {

    .sign-in-form__button {
        margin-top: 2rem;
    }

    .msg-success {
        animation-name: fadeIn;
        max-height: max-content;
    }
}

.sign-in-form.error {

    .sign-in-form__button {
        margin-top: 2rem;
    }

    .msg-error {
        animation-name: fadeIn;
        max-height: max-content;
    }
}

.sign-in-form.loading {

    .sign-in-form__button {
        position: relative;
        cursor: not-allowed;

        background-color: var(--color-grey-darker);
        border-color: var(--color-grey-darker);
        color: transparent;

        &::after {
            position: absolute;
            content: '';
            width: 3rem;
            height: 3rem;
            top: calc(50% - 1.5rem);
            right: calc(50% - 1.5rem);
            border-radius: 50%;
            background-image: url(/assets/images/loading.svg);
            background-position: center;
            background-size: cover;

            animation-name: rotation;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            transition: all .4s;
        }
    }
}

/* ========================================= Sign-up/sign-in page with feature_image */

.has-image.login-page {
    justify-content: flex-start;
    padding-top: 7rem;
        
    .login-page__feature-image {
        width: 49.19%;
        height: 71.5rem;

        @media (max-width:768px) {
            display: none;
        }

        img {
            border-radius: var(--global-radius);
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .login-page__text {
        margin-left: 5rem;

        @media (max-width:768px) {
            margin: 0 auto;
            align-items: center;
        }

        & > * {
            text-align: start;
        }
    }

    .sign-in-form  {
        margin: 0;

        .btn {
            @media (max-width:768px) {
                width: 100%;
            }
        }

        &__input {
            text-align: start;
        }
    }
}
