




/* ===================================================== 1. Colors */

$color-light-gray: #F6F6F6;
$color-dark-grey: #838383;
$color-light-black: #292929;
$color-full-black: #171717;
$color-white: #fff;

$text-color-main: $color-full-black;
$text-color-secondary: $color-light-black;
$text-color-tertiary: $color-dark-grey;

/* ===================================================== 2. Fonts */

body {
    font-family: 'Bricolage Grotesque', sans-serif;
}
