.authors {

    ul {

    }

    &__avatar {
        

        a {
            display: block;
            width: 8rem;
            height: 8rem;
            overflow: hidden;
            border-radius: 50%;
            outline: 3px solid $color-white;
        }

        &:nth-of-type(n+2) {
            margin-left: -3rem;
            z-index: 1;
        }

        a img {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }
    &__info {
        margin-left: 1rem;
    }
    &__names {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
}
.gh-post-meta {
}
.bull {
}
