.breadcrumbs {
    margin: 3rem 0;

    

    ol {
        
    }

    li {
        font-size: 1.6rem;
        font-weight: 400;

        span {
            margin: 0 1.5rem;
        }
    }

    &__current {
        
        a {
            color: $color-dark-grey;
        }
    }
}
