.button {
    padding: 1.2rem 4rem;
    border-radius: 2rem;
    background-color: $color-light-black;
    color: $color-white;
    border: 1px solid transparent;

    transition: all .3s;

    &:hover {
        background-color: $color-white;
        border-color: $color-dark-grey;
        color: $text-color-main;
    }

    &:active {
        transform: scale(0.9);
    }
}