.cta {
    .container {
    }

    &__title {
        margin-bottom: 4rem;
    }
    &__form {
    }
    &__form-input {
        border-radius: 2rem 0rem 0rem 2rem;
        background: $color-light-gray;
        border: none;
        padding: 2rem 27rem 2rem 2rem;

        color: $color-full-black;
        font-size: 2rem;
        font-weight: 300;
        line-height: normal;

        &:focus {
            outline: 1px solid $color-full-black;
        }

        &::placeholder {
            color: #838383;
            font-size: 2rem;
            font-weight: 300;
            line-height: normal;
        }
    }
    &__form-button {
        font-size: 2rem;
        padding: 2rem 5.8rem;
        border-radius: 0 2rem 2rem 0;
        line-height: normal;
    }
}

.cta.cta_footer {
    margin-bottom: 6rem;
    
    .cta__title {
        margin-bottom: 2rem;
    }
    .cta__form-input {
        width: 100%;
        border-radius: 1.6rem 0rem 0rem 1.6rem;
        background: $color-white;
        padding: 2rem 2rem 2rem 2rem;

        font-size: 1.6rem;

        &::placeholder {
            color: #838383;
            font-size: 1.4rem;
        }
    }
    .cta__form-button {
        font-size: 1.6rem;
        padding: 2rem;
        border-radius: 0 1.6rem 1.6rem 0;
    }
}

