.header {
    background: $color-light-gray;

    &__brand {
        height: 5rem;
    }
    &__logo {
        height: 100%;
    }
    &__title {}
    &__menu {
        
    }
    &__buttons {
    }
    &__user-avatar {}
  }
  .container {
    padding: 3rem 0;
  }
  .btn {
  }
  .header-search {
    &__toggle {
        transition: all .3s;

        &:hover {
            transform: scale(0.9);
        }
    }
  }
  .signin-link {
    margin-left: 2rem;
  }
  