body, a {
  font-family: "Bricolage Grotesque", sans-serif;
  color: #171717;
}

h1.heading-1 {
  font-size: 6rem;
  font-weight: 400;
  line-height: normal;
}

h2.heading-2 {
  font-size: 5rem;
  font-weight: 500;
  line-height: normal;
}

h3.heading-3 {
  font-size: 3.4rem;
  font-weight: 500;
  line-height: normal;
}

h4.heading-4 {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: normal;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

a.link {
  background: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #171717, #171717);
  background-size: 100% 0.075em, 0 0.075em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}
a.link:hover, a.link:focus {
  background-size: 0 0.075em, 100% 0.075em;
}

button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mr-big-t {
  margin-top: 17rem;
}
.mr-big-b {
  margin-bottom: 17rem;
}
.mr-big-l {
  margin-left: 17rem;
}

.mr-md-b {
  margin-bottom: 7rem;
}
.mr-md-r {
  margin-right: 7rem;
}
.mr-md-t {
  margin-top: 7rem;
}

/* Lazyload*/
.lazyload {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.5s;
}

.lazyloading {
  opacity: 0.75;
  filter: blur(2px);
  transition: all 0.5s;
}

.lazyloaded {
  opacity: 1;
  filter: blur(0);
  transition: all 0.5s;
}

.flex {
  display: flex;
}
.flex-inline {
  display: inline-flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-1 {
  flex: 1;
}
.flex-0 {
  flex: 0;
}
.flex-cc {
  justify-content: center;
  align-items: center;
}
.flex-sbc {
  justify-content: space-between;
  align-items: center;
}

.content-start {
  justify-content: flex-start;
}
.content-center {
  justify-content: center;
}
.content-end {
  justify-content: flex-end;
}

.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}

.self-justify-start {
  justify-self: flex-start;
}
.self-justify-center {
  justify-self: center;
}
.self-justify-end {
  justify-self: flex-end;
}

.self-align-start {
  align-self: flex-start;
}
.self-align-center {
  align-self: center;
}
.self-align-end {
  align-self: flex-end;
}

.nav li {
  position: relative;
}
.nav li:not(:last-child) {
  margin-right: 6rem;
}
.nav li::after {
  position: absolute;
  content: "";
  bottom: -0.5rem;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #171717;
  transition: all 0.3s;
}
.nav li:hover::after {
  width: 100%;
}
.nav a {
  color: #171717;
  font-size: 2rem;
  font-weight: 400;
}

.nav.footer__nav {
  width: -moz-max-content;
  width: max-content;
}
.nav.footer__nav li {
  position: relative;
  margin-right: 0;
}
.nav.footer__nav li:not(:last-child) {
  margin-bottom: 1.5rem;
}
.nav.footer__nav li::after {
  position: absolute;
  content: "";
  bottom: -0.5rem;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #171717;
  transition: all 0.3s;
}
.nav.footer__nav li:hover::after {
  width: 100%;
}
.nav.footer__nav a {
  color: #171717;
  font-size: 2rem;
  font-weight: 400;
}

.button {
  padding: 1.2rem 4rem;
  border-radius: 2rem;
  background-color: #292929;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.3s;
}
.button:hover {
  background-color: #fff;
  border-color: #838383;
  color: #171717;
}
.button:active {
  transform: scale(0.9);
}

.big-img-cta {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}
.big-img-cta__img {
  max-height: 100%;
}
.big-img-cta__img picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 60rem;
}
.big-img-cta__link {
  position: absolute;
  right: 0;
  top: 0;
  width: 22.5%;
  height: 9.75%;
  font-size: 2.4rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-card-wrapper {
  list-style-type: none;
}
.post-card-wrapper.width-half {
  width: 49%;
}
.post-card-wrapper.width-third {
  width: 32%;
}

.post-card {
  padding-bottom: 1rem;
}
.post-card__img {
  border-radius: 2rem;
  overflow: hidden;
}
.post-card__img:hover img {
  transform: scale(1.05);
}
.post-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.post-card__tags {
  gap: 1rem;
}
.post-card__title {
  margin-bottom: 1rem;
}
.post-card-wrapper.width-half .post-card .post-card__img {
  height: 50rem;
}
.post-card-wrapper.width-half .post-card .post-card__tags {
  margin: 3rem 0 2rem;
}
.post-card-wrapper.width-half .post-card .post-card__excerpt {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.9;
}
.post-card-wrapper.width-half .post-card .post-card__footer {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 300;
}
.post-card-wrapper.width-third .post-card .post-card__img {
  height: 45rem;
}
.post-card-wrapper.width-third .post-card .post-card__tags {
  margin: 2rem 0 1.5rem;
}
.post-card-wrapper.width-third .post-card .post-card__excerpt {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.9;
}
.post-card-wrapper.width-third .post-card .post-card__footer {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 300;
}
.cards-loop__cards {
  -moz-column-gap: 2%;
       column-gap: 2%;
  row-gap: 7rem;
  flex-wrap: wrap;
}

.tags-loop {
  gap: 1.6rem;
  flex-wrap: wrap;
}
.tags-loop .tag {
  border-radius: 2rem;
  background: rgba(23, 23, 23, 0.05);
  box-shadow: 0px 2px 8px 0px rgba(61, 61, 61, 0.1);
  color: #171717;
  font-weight: 400;
  display: inline-block;
  transition: all 0.3s;
}
.tags-loop .tag:hover {
  box-shadow: 0px 2px 8px 0px rgba(61, 61, 61, 0.2);
  transform: scale(1.01);
}
.tags-loop .tag-featured {
  border-radius: 1rem;
  background: #fff6ed;
  box-shadow: 0px 2px 8px 0px rgba(61, 61, 61, 0.1);
}
.tags-loop.size-l .tag {
  padding: 1.2rem 2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
}
.tags-loop.size-m .tag {
  padding: 0.8rem 1.4rem;
  font-size: 2rem;
  line-height: normal;
}
.tags-loop.size-m .tag-featured {
  width: 4rem;
  height: 4rem;
}
.tags-loop.size-s .tag {
  font-size: 1.6rem;
  padding: 0.6rem 1.2rem;
  line-height: normal;
}
.tags-loop.size-s .tag-featured {
  height: 3.5rem;
  width: 3.5rem;
}

.tags-loop.categories__cards {
  -moz-column-gap: 2%;
       column-gap: 2%;
  row-gap: 7rem;
}
.tags-loop.categories__cards li {
  width: 23.5%;
}
.tags-loop.categories__cards li div {
  margin-bottom: 1rem;
  border-radius: 2rem;
  height: 18rem;
  overflow: hidden;
  transition: all 0.3s;
}
.tags-loop.categories__cards li:hover div {
  box-shadow: 0px 2px 8px 0px rgba(61, 61, 61, 0.1);
}
.tags-loop.categories__cards li:hover img {
  transform: scale(1.1);
}
.tags-loop.categories__cards li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s;
}
.tags-loop.categories__cards .tag {
  width: 100%;
  text-align: center;
}
.tags-loop.categories__cards .tag span {
  display: inline-block;
  margin-top: 1rem;
  font-weight: 400;
}

.cta__title {
  margin-bottom: 4rem;
}
.cta__form-input {
  border-radius: 2rem 0rem 0rem 2rem;
  background: #F6F6F6;
  border: none;
  padding: 2rem 27rem 2rem 2rem;
  color: #171717;
  font-size: 2rem;
  font-weight: 300;
  line-height: normal;
}
.cta__form-input:focus {
  outline: 1px solid #171717;
}
.cta__form-input::-moz-placeholder {
  color: #838383;
  font-size: 2rem;
  font-weight: 300;
  line-height: normal;
}
.cta__form-input::placeholder {
  color: #838383;
  font-size: 2rem;
  font-weight: 300;
  line-height: normal;
}
.cta__form-button {
  font-size: 2rem;
  padding: 2rem 5.8rem;
  border-radius: 0 2rem 2rem 0;
  line-height: normal;
}

.cta.cta_footer {
  margin-bottom: 6rem;
}
.cta.cta_footer .cta__title {
  margin-bottom: 2rem;
}
.cta.cta_footer .cta__form-input {
  width: 100%;
  border-radius: 1.6rem 0rem 0rem 1.6rem;
  background: #fff;
  padding: 2rem 2rem 2rem 2rem;
  font-size: 1.6rem;
}
.cta.cta_footer .cta__form-input::-moz-placeholder {
  color: #838383;
  font-size: 1.4rem;
}
.cta.cta_footer .cta__form-input::placeholder {
  color: #838383;
  font-size: 1.4rem;
}
.cta.cta_footer .cta__form-button {
  font-size: 1.6rem;
  padding: 2rem;
  border-radius: 0 1.6rem 1.6rem 0;
}

.breadcrumbs {
  margin: 3rem 0;
}
.breadcrumbs li {
  font-size: 1.6rem;
  font-weight: 400;
}
.breadcrumbs li span {
  margin: 0 1.5rem;
}
.breadcrumbs__current a {
  color: #838383;
}

.authors__avatar a {
  display: block;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  border-radius: 50%;
  outline: 3px solid #fff;
}
.authors__avatar:nth-of-type(n+2) {
  margin-left: -3rem;
  z-index: 1;
}
.authors__avatar a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.authors__info {
  margin-left: 1rem;
}
.authors__names {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.hero {
  padding-top: 10.5rem;
}
.hero__title {
  max-width: 84rem;
  margin-bottom: 2rem;
}
.hero__tags {
  margin-top: 1.6rem;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.header {
  background: #F6F6F6;
  padding: 3rem 5rem;
}
.header__brand {
  height: 5rem;
  width: 20%;
}
.header__logo {
  height: 100%;
}
.header__title {
  font-size: 3.4rem;
  font-weight: 500;
  line-height: normal;
}
.header-search__toggle {
  transition: all 0.3s;
}
.header-search__toggle:hover {
  transform: scale(0.9);
}

.signin-link {
  margin-left: 2rem;
  font-size: 2rem;
}

.footer {
  background: #F6F6F6;
  padding: 10rem 5rem 3rem;
}
.footer .container_footer {
  display: grid;
  grid-template-columns: 32.25% 1fr;
}
.footer .cta_footer {
  margin-top: 3rem;
}
.footer__brand {
  display: block;
  height: 50px;
  margin-bottom: 4rem;
}
.footer__brand img {
  height: 100%;
}
.footer__title {
  font-size: 4rem;
  font-weight: 500;
}
.footer__socials {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-bottom: 2rem;
}
.footer__social {
  transition: all 0.3s;
}
.footer__social:hover {
  transform: scale(1.1);
}
.footer__social svg {
  width: 2.8rem;
  height: 2.8rem;
}
.footer__nav-title {
  margin-bottom: 3rem;
}
.footer__copy {
  font-size: 1.4rem;
  font-weight: 300;
}

.categories {
  padding: 3rem 0 17rem;
}
.categories__title {
  text-align: center;
}

.tag__header {
  flex-direction: column-reverse;
}
.tag__header img {
  width: 100%;
  height: 75rem;
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.tag__title {
  margin-bottom: 1rem;
}
.tag__header-text {
  text-align: center;
}
.tag__posts-amount {
  font-size: 2.6rem;
  font-weight: 500;
}
.tag__description {
  font-size: 2.6rem;
  font-weight: 400;
  margin-left: auto;
  margin-top: 2rem;
  width: 65%;
  margin-right: auto;
}

.gh-header__tags {
  margin-bottom: 2rem;
}

.gh-excerpt {
  margin-bottom: 3rem;
}

.gh-content .kg-callout-card {
  padding: 2rem 2.4rem;
  border-radius: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
}
.gh-content .kg-callout-card div.kg-callout-emoji {
  padding-right: 2rem;
}
.gh-content .kg-bookmark-card a.kg-bookmark-container {
  border-radius: 2rem;
  border: none;
  background: #F6F6F6;
  box-shadow: 0px 2px 8px 0px rgba(61, 61, 61, 0.1);
  transition: all 0.3s;
}
.gh-content .kg-bookmark-card a.kg-bookmark-container:hover {
  display: flex;
  text-decoration: none;
  border-radius: 2rem;
  border: none;
  overflow: hidden;
  color: inherit;
  transform: scale(1.01);
}
.gh-content .kg-bookmark-card div.kg-bookmark-content {
  padding: 2.4rem 3.4rem;
}
.gh-content .kg-bookmark-card div.kg-bookmark-title {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}
.gh-content .kg-bookmark-card div.kg-bookmark-description {
  font-size: 1.5rem;
  font-weight: 400;
  color: #292929;
}
.gh-content .kg-bookmark-card div.kg-bookmark-metadata {
  font-size: 1.5rem;
  font-weight: 500;
}
.gh-content .kg-bookmark-card div.kg-bookmark-thumbnail {
  max-width: 25.6%;
  min-width: 21rem;
}
.gh-content .kg-button-card a.kg-btn {
  font-family: "Bricolage Grotesque", sans-serif;
  padding: 1.2rem 3.6rem;
  background: #292929;
  color: #fff;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 300;
}
.gh-content .kg-toggle-card {
  border-radius: 2rem;
  background: #F6F6F6;
  box-shadow: 0px 4px 8px 0px rgba(61, 61, 61, 0.1);
  padding: 2rem 2.4rem;
}
.gh-content .kg-toggle-card .kg-toggle-heading-text {
  font-size: 2rem;
  font-weight: 500;
}
.gh-content .kg-toggle-card .kg-toggle-content p {
  font-size: 1.7rem;
  font-weight: 300;
}
.gh-content .kg-toggle-card + .kg-toggle-card {
  margin-top: 2rem;
}
.gh-content .kg-header-card.kg-v2 .kg-header-card-button {
  font-size: 1.8rem;
  border-radius: 2rem;
  padding: 2rem 2.8rem;
  font-weight: 300;
  font-family: "Bricolage Grotesque", sans-serif;
}
.gh-content .kg-header-card.kg-v2.kg-width-wide .kg-header-card-button, .gh-content .kg-header-card.kg-v2.kg-width-full .kg-header-card-button {
  font-size: 2rem;
  padding: 2rem 3.2rem;
}
.gh-content .kg-width-regular .kg-signup-card-form.error .kg-signup-card-error, .gh-content .kg-width-wide .kg-signup-card-form.error .kg-signup-card-error, .gh-content .kg-width-full .kg-signup-card-form.error .kg-signup-card-error {
  font-size: 1.6rem;
}
.gh-content .kg-width-regular .kg-signup-card-form.success .kg-signup-card-success, .gh-content .kg-width-wide .kg-signup-card-form.success .kg-signup-card-success, .gh-content .kg-width-full .kg-signup-card-form.success .kg-signup-card-success {
  font-size: 1.6rem;
}
.gh-content .kg-width-regular .kg-signup-card-fields, .gh-content .kg-width-wide .kg-signup-card-fields, .gh-content .kg-width-full .kg-signup-card-fields {
  width: 75%;
  font-size: 1.8rem;
}
.gh-content .kg-width-regular .kg-signup-card-disclaimer, .gh-content .kg-width-wide .kg-signup-card-disclaimer, .gh-content .kg-width-full .kg-signup-card-disclaimer {
  font-size: 1.6rem;
}