.container--breadcrumbs {
    @media (max-width:768px) {
        display: none;
    }
}

.breadcrumbs {

    li {
        font-size: 1.6rem;
        font-weight: 400;

        span {
            margin-left: 1.5rem;
        }

        a:not(:last-child):hover {
            text-decoration: underline;
        }

        &:not(:last-child) {
            margin-right: 1.5rem;
            min-width: max-content;
        }
    }

    &__current {
        color: var(--color-dark-gray)
    }
}

