.breadcrumbs {

    li {
        font-size: 1.6rem;
        font-weight: 400;

        span {
            margin-left: 1.5rem;
        }

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__current {
        color: var(--color-dark-gray)
    }
}

