.cards-loop {
    margin-bottom: clamp(10rem, 12vw, 17rem);

    &__title {
        font-size: clamp(3.2rem, 3.6vw, 5rem);
        margin-bottom: clamp(6rem, 6vw, 7rem);
    }
    &__cards {
        column-gap: 2%;
        row-gap: clamp(4rem, 6vw, 10rem);
        margin: 0;
        flex-wrap: wrap;
    }
}

/* ========================================= Post card */

.post-card-wrapper {

    .post-card {

        &__img {
            border-radius: var(--global-radius);
            overflow: hidden;
    
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &__reading-time {
            font-size: inherit;
            margin-bottom: 0;
        }
    }
}

.post-card-wrapper.width-half {
    width: 49%;

    .post-card {

        &__img {
            height: clamp(26.4rem, 35vw, 51rem);
            margin-bottom: clamp(2rem, 2vw, 3rem);
        }
        &__title {
            font-size: clamp(2.6rem, 2.6vw, 3.4rem);
            margin: 2rem 0 1rem;
        }
        &__excerpt {
            font-size: clamp(1.8rem, 2vw, 2.4rem);
            margin-bottom: clamp(2rem, 2vw, 3rem);
        }
        &__footer {
            font-size: clamp(1.4rem, 1.6vw, 2rem);
        }
    }
}

.post-card-wrapper.width-third {
    width: 32%;

    .post-card {

        &__img {
            height: clamp(26.4rem, 35vw, 45.3rem);
            margin-bottom: 2rem;
        }
        &__title {
            font-size: 2.6rem;
            margin: 1.6rem 0 1rem;
        }
        &__excerpt {
            font-size: clamp(1.8rem, 2vw, 2rem);
            margin-bottom: 2rem;
        }
        &__footer {
            font-size: clamp(1.4rem, 1.6vw, 1.6rem);
        }
    }
}