.header {
    background-color: var(--color-light-gray);

    .wrapper {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &__brand {
       
    }

    &__title {
        font-size: clamp(2.4rem, 1.673rem + 1.616vw, 4rem);
    }
    &__logo {
        height: max(5rem, 4vw);
    }
    &__menu {

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            font-size: 2rem;
        }

        li:not(:last-child) {
            margin-right: min(4vw, 6rem);
        }
    }
    &__buttons {

    }
    &__user-avatar {
    }
}
.header-search {
    &__toggle {
        margin-right: 2rem;

        i {
            display: inline-block;
            width: 3.8rem;
            height: 3.8rem;
        }
    }
}