.tags-loop {
    margin-bottom: 0;
    flex-wrap: wrap;
}
.tag-featured {
    background: rgba(255, 219, 89, 0.10);
    border-radius: var(--global-radius);
}
.tag {
    background-color: var(--color-light-gray);
    border-radius: var(--global-radius);
    display: block;
    transition: all .2s;

    &__image {
    }

    &:hover {
        transform: scale(0.965);
    }
}

.tags-loop.size-l {
    gap: clamp(1rem, 0.216rem + 1.742vw, 2rem);
    
    .tag {
        padding: 1.2rem 2rem;
        font-size: clamp(1.6rem, 1.418rem + 0.404vw, 2rem);
        font-weight: 400;
    }
}

.tags-loop.size-m {
    gap: 1rem;

    .tag {
        padding: .8rem 1.4rem;
        font-size: clamp(1.4rem, 1.127rem + 0.606vw, 2rem);
        font-weight: 300;
    }

    .tag-featured {
        padding: 1rem;
    }
}

.tags-loop.size-s {
    gap: 1rem;

    .tag {
        padding: .8rem 1.4rem;
        font-size: clamp(1.4rem, 1.309rem + 0.202vw, 1.6rem);
        font-weight: 300;
    }

    .tag-featured {
        padding: 0.75rem;
    }
}

.container--categories .tags-loop--categories {
    flex-wrap: wrap;
    column-gap: 1.33%;
    row-gap: clamp(3rem, 1.514rem + 3.81vw, 7rem);
    
    li {
        width: 24%;

        @media (max-width:768px) {
            width: 32.4%;
        }

        @media (max-width:600px) {
            width: 49%;
        }

        img {
            width: 100%;
            height: 18rem;
            border-radius: clamp(1.4rem, 1.177rem + 0.571vw, 2rem);

            object-fit: cover;
            margin-bottom: 1rem;
        }
    }

    .tag {
        text-align: center;
        margin: 0;
    }
}