$main-font-family: 'Bricolage Grotesque', sans-serif;
$main-font-color: $color-full-black;

body,a {
    font-family: $main-font-family;
    color: $main-font-color;
}

h1.heading-1 {
    font-size: 6rem;
    font-weight: 400;
    line-height: normal;
}

h2.heading-2 {
    font-size: 5rem;
    font-weight: 500;
    line-height: normal;
}

h3.heading-3 {
    font-size: 3.4rem;
    font-weight: 500;
    line-height: normal;
}

h4.heading-4 {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: normal;
}