.container {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

a.link {
    background: linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, $color-full-black, $color-full-black);
    background-size:
        100% 0.075em,
        0 0.075em;
    background-position:
        100% 100%,
        0 100%;
    background-repeat: no-repeat;
    transition: background-size .3s;

    &:hover,
    &:focus {
        background-size:
            0 0.075em,
            100% 0.075em;
    }
}

button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

html {
    font-size: 62.5% !important;
}

.mr-big {
    &-t {
        margin-top: 17rem;
    }
    &-b {
        margin-bottom: 17rem;
    }
    &-l {
        margin-left: 17rem;
    }
}

.mr-md {
    &-b {
        margin-bottom: 7rem;
    }
    &-r {
        margin-right: 7rem;
    }
    &-t {
        margin-top: 7rem;
    }
}

/* Lazyload*/
.lazyload {
    opacity: 0;
    filter: blur(5px);
    transition: all .5s;
}

.lazyloading {
    opacity: 0.75;
    filter: blur(2px);
    transition: all .5s;
}

.lazyloaded {
    opacity: 1;
    filter: blur(0);
    transition: all .5s;
}
