.container {
    max-width: 1240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

html {
    font-size: 62.5% !important;
}

.tag {
    padding: 1.2rem 2rem;
    border-radius: 2rem;
    background: rgba($color: $color-full-black, $alpha: 0.05);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: $color-full-black;
    line-height: 0.75;

    display: inline-block;
    transition: all .3s;

    &:hover {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transform: scale(1.025);
    }
}

.tag-featured {
   
    border-radius: 1rem;
    background: #fff6ed;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 3.75rem;
    height: 3.75rem;
}

.mr-big {
    &-t {
        margin-top: 17rem;
    }
    &-b {
        margin-bottom: 17rem;
    }
}

.mr-md {
    &-b {
        margin-bottom: 7rem;
    }
}

/* Lazyload*/
.lazyload {
    opacity: 0;
    filter: blur(5px);
    transition: all .5s;
}

.lazyloading {
    opacity: 0.75;
    filter: blur(2px);
    transition: all .5s;
}

.lazyloaded {
    opacity: 1;
    filter: blur(0);
    transition: all .5s;
}
