<section class="featured">
    <div class="container">
        <h2 class="featured__title">{{t "Featured"}}</h2>

        <div class="featured__cards">
            {{#foreach posts filter="featured:true"}}
                {{> post-card classes="width-half"}}
            {{/foreach}}
        </div>
    </div>
</section>